<div class="container">
	
  <div class="row row-margin">
    <div class="col-md-6 col-md-offset-3">
    	<h2 class="text-center">Learning Is Hard</h2>
    	<p>Halvah marshmallow cookie. Soufflé pie bear claw jelly chocolate. Sugar plum jujubes jelly beans croissant. Pie pie jelly-o. Lemon drops sweet pie. Liquorice marshmallow macaroon topping lemon drops jelly beans chocolate cake. Chocolate bar cookie icing. Cupcake caramels bonbon pie cupcake lemon drops.</p>
    	<p>Powder candy canes powder halvah biscuit wafer chupa chups. Gummi bears powder jelly-o cupcake tiramisu tart brownie ice cream chupa chups. Jujubes marzipan marzipan pie bear claw cheesecake pie tiramisu bear claw. Cookie jujubes oat cake apple pie cake cookie tootsie roll toffee. Jelly beans bear claw icing jelly tootsie roll. Tootsie roll gummi bears dessert jelly bear claw topping croissant chupa chups. Jelly-o danish chupa chups sesame snaps liquorice. Soufflé cookie pudding bear claw liquorice tootsie roll brownie. Biscuit powder brownie wafer marshmallow sweet roll chupa chups pudding. Jelly ice cream cupcake.</p>
    	<p>Powder candy canes powder halvah biscuit wafer chupa chups. Gummi bears powder jelly-o cupcake tiramisu tart brownie ice cream chupa chups. Jujubes marzipan marzipan pie bear claw cheesecake pie tiramisu bear claw. Cookie jujubes oat cake apple pie cake cookie tootsie roll toffee. Jelly beans bear claw icing jelly tootsie roll. Tootsie roll gummi bears dessert jelly bear claw topping croissant chupa chups. Jelly-o danish chupa chups sesame snaps liquorice. Soufflé cookie pudding bear claw liquorice tootsie roll brownie. Biscuit powder brownie wafer marshmallow sweet roll chupa chups pudding. Jelly ice cream cupcake.</p>
    	<p>Powder candy canes powder halvah biscuit wafer chupa chups. Gummi bears powder jelly-o cupcake tiramisu tart brownie ice cream chupa chups. Jujubes marzipan marzipan pie bear claw cheesecake pie tiramisu bear claw. Cookie jujubes oat cake apple pie cake cookie tootsie roll toffee. Jelly beans bear claw icing jelly tootsie roll. Tootsie roll gummi bears dessert jelly bear claw topping croissant chupa chups. Jelly-o danish chupa chups sesame snaps liquorice. Soufflé cookie pudding bear claw liquorice tootsie roll brownie. Biscuit powder brownie wafer marshmallow sweet roll chupa chups pudding. Jelly ice cream cupcake.</p>
    </div>
  </div>
  
  <div class="row row-margin">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center">What Will I Learn?</h2>
    </div>
  </div>
  
  <div class="row row-margin">
  	<div class="col-md-6">
  		<%= image_tag 'https://res.cloudinary.com/dq2bsl9c5/image/upload/v1455483874/html-css_xlsinp.png', class: 'center-block' %>
  	</div>
  	<div class="col-md-6">
  		<h3>Thing 1</h3>
  		<p>Sweet roll lollipop dragée cookie. Chocolate cake croissant dragée tiramisu cupcake marshmallow icing cotton candy. Candy canes liquorice jelly beans. Oat cake pastry tiramisu cake sweet roll lollipop. Icing tiramisu donut jujubes jelly-o gingerbread jujubes soufflé. Gingerbread gingerbread topping muffin.</p>
  		<p>Sweet roll lollipop dragée cookie. Chocolate cake croissant dragée tiramisu cupcake marshmallow icing cotton candy. Candy canes liquorice jelly beans. Oat cake pastry tiramisu cake sweet roll lollipop. Icing tiramisu donut jujubes jelly-o gingerbread jujubes soufflé. Gingerbread gingerbread topping muffin.</p>
  	</div>
  </div>
  
  <div class="row row-margin">
  	<div class="col-md-6">
  		<%= image_tag 'https://res.cloudinary.com/dq2bsl9c5/image/upload/v1455483880/js_sazs88.jpg', class: 'center-block' %>
  	</div>
  	<div class="col-md-6">
  		<h3>Thing 2</h3>
  		<p>Sweet roll lollipop dragée cookie. Chocolate cake croissant dragée tiramisu cupcake marshmallow icing cotton candy. Candy canes liquorice jelly beans. Oat cake pastry tiramisu cake sweet roll lollipop. Icing tiramisu donut jujubes jelly-o gingerbread jujubes soufflé. Gingerbread gingerbread topping muffin.</p>
  		<p>Sweet roll lollipop dragée cookie. Chocolate cake croissant dragée tiramisu cupcake marshmallow icing cotton candy. Candy canes liquorice jelly beans. Oat cake pastry tiramisu cake sweet roll lollipop. Icing tiramisu donut jujubes jelly-o gingerbread jujubes soufflé. Gingerbread gingerbread topping muffin.</p>
  	</div>
  </div>
  
  <div class="row row-margin">
  	<div class="col-md-6">
  		<%= image_tag 'https://res.cloudinary.com/dq2bsl9c5/image/upload/v1455483912/ruby_xb4keg.png', class: 'center-block' %>
  	</div>
  	<div class="col-md-6">
  		<h3>Thing 3</h3>
  		<p>Sweet roll lollipop dragée cookie. Chocolate cake croissant dragée tiramisu cupcake marshmallow icing cotton candy. Candy canes liquorice jelly beans. Oat cake pastry tiramisu cake sweet roll lollipop. Icing tiramisu donut jujubes jelly-o gingerbread jujubes soufflé. Gingerbread gingerbread topping muffin.</p>
  		<p>Sweet roll lollipop dragée cookie. Chocolate cake croissant dragée tiramisu cupcake marshmallow icing cotton candy. Candy canes liquorice jelly beans. Oat cake pastry tiramisu cake sweet roll lollipop. Icing tiramisu donut jujubes jelly-o gingerbread jujubes soufflé. Gingerbread gingerbread topping muffin.</p>
  	</div>
  </div>
  
  <div class="row row-margin">
  	<div class="col-md-6">
  		<%= image_tag 'https://res.cloudinary.com/dq2bsl9c5/image/upload/v1455483891/rails_i35y8b.png', class: 'center-block' %>
  	</div>
  	<div class="col-md-6">
  		<h3>Thing 4</h3>
  		<p>Sweet roll lollipop dragée cookie. Chocolate cake croissant dragée tiramisu cupcake marshmallow icing cotton candy. Candy canes liquorice jelly beans. Oat cake pastry tiramisu cake sweet roll lollipop. Icing tiramisu donut jujubes jelly-o gingerbread jujubes soufflé. Gingerbread gingerbread topping muffin.</p>
  		<p>Sweet roll lollipop dragée cookie. Chocolate cake croissant dragée tiramisu cupcake marshmallow icing cotton candy. Candy canes liquorice jelly beans. Oat cake pastry tiramisu cake sweet roll lollipop. Icing tiramisu donut jujubes jelly-o gingerbread jujubes soufflé. Gingerbread gingerbread topping muffin.</p>
  	</div>
  </div>
  
  <div class="row row-margin">
  	<div class="col-md-6">
  		<%= image_tag 'https://res.cloudinary.com/dq2bsl9c5/image/upload/v1455483856/git_mhyffb.png', class: 'center-block' %>
  	</div>
  	<div class="col-md-6">
  		<h3>Thing 5</h3>
  		<p>Sweet roll lollipop dragée cookie. Chocolate cake croissant dragée tiramisu cupcake marshmallow icing cotton candy. Candy canes liquorice jelly beans. Oat cake pastry tiramisu cake sweet roll lollipop. Icing tiramisu donut jujubes jelly-o gingerbread jujubes soufflé. Gingerbread gingerbread topping muffin.</p>
  		<p>Sweet roll lollipop dragée cookie. Chocolate cake croissant dragée tiramisu cupcake marshmallow icing cotton candy. Candy canes liquorice jelly beans. Oat cake pastry tiramisu cake sweet roll lollipop. Icing tiramisu donut jujubes jelly-o gingerbread jujubes soufflé. Gingerbread gingerbread topping muffin.</p>
  	</div>
  </div>
  
  <div class="row row-margin">
  	<div class="col-md-6 col-md-offset-3">
  		<h3 class="text-center">How much will it cost?</h3>
  		<p>Sweet roll lollipop dragée cookie. Chocolate cake croissant dragée tiramisu cupcake marshmallow icing cotton candy. Candy canes liquorice jelly beans. Oat cake pastry tiramisu cake sweet roll lollipop. Icing tiramisu donut jujubes jelly-o gingerbread jujubes soufflé. Gingerbread gingerbread topping muffin.</p>
  		<p>Sweet roll lollipop dragée cookie. Chocolate cake croissant dragée tiramisu cupcake marshmallow icing cotton candy. Candy canes liquorice jelly beans. Oat cake pastry tiramisu cake sweet roll lollipop. Icing tiramisu donut jujubes jelly-o gingerbread jujubes soufflé. Gingerbread gingerbread topping muffin.</p>
  	</div>
  </div>
  
</div>