<section class="text-center">
  <div class="row">
    <h2>Sign up for the code tutorials!</h2>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= simple_form_for @visitor do |f| %>
        <%= f.error_notification %>
        <%= f.input :name, label: flase, :placeholder => "Name" %>
        <%= f.input :email, label: false, :placeholder => 'Email' %>
        <br/>
        <%= f.button :submit, "Sign up for the tutorials", :class => "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</section>